* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--red-text-color);
  overflow: hidden;
}

.alert-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  font-weight: 500;
}

.alert-text.loading {
  color: dodgerblue;
}
.alert-text.error {
  color: red;
}

.queue-container {
  display: flex;
  flex-direction: row;
  gap: var(--column-gap);
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--border-color);
}

.docter-column {
  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
  width: calc(
    100vw / var(--column-count) - var(--column-gap) + var(--column-gap) /
      var(--column-count)
  );
  height: 100vh;
  box-sizing: border-box;
}

.flex-cell {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  height: calc(
    100vw / var(--row-count) - var(--row-gap) + var(--row-gap) /
      var(--row-count)
  );
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
.flex-cell.diag-room {
  font-size: var(--room-font-size);
}
.flex-cell.docter-name {
  font-size: var(--docter-name-font-size);
  color: var(--white-text-color);
}
.flex-cell.docter-name .docter-name-text {
  overflow: hidden;
  width: calc(100% - 2 * var(--docter-name-margin));
}
.flex-cell.docter-time {
  font-size: var(--docter-time-font-size);
  color: var(--white-text-color);
}
.flex-cell.vn-header {
  font-size: var(--vn-header-font-size);
  color: var(--white-text-color);
}
.flex-cell.queue {
  font-size: 64px;
  justify-content: right;
}
.flex-cell.queue.has-in {
  color: var(--green-text-color);
}
.flex-cell.queue .vn-xl-container {
  display: grid;
  grid-template-columns: 1fr var(--xl-width);
  gap: var(--vn-xl-distance);
  align-items: end;
}
.flex-cell.queue .queue-vn {
  font-size: var(--vn-font-size);
  line-height: 100%;
}
.flex-cell.queue .queue-xl {
  font-size: var(--xl-font-size);
  margin-bottom: calc(
    0.125 * var(--vn-font-size) - 0.125 * var(--xl-font-size)
  );
}
